.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.balance-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: azure;
  align-items: center;
}
.transform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
